$(".words-area").html("<div class='jumbotron words'></div>")
<% if @words.nil? -%>
    $( ".words" ).html( "<p class='.text-danger'>An unexpected error has " +
    "occured</p>" );
<% elsif @words.empty? -%>
    $( ".words" ).html( "<p class='.text-danger'>Sorry, no valid words found for the given " +
    "input</p>" );
<% else -%>
    $( ".words" ).html( "<%= j (@words[0]) %>" );
<% end -%>