<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Hello World</h1>
<div row>
    <table class="table table-bordered">
        <tr>
            <td> Hi </td>
            <td> There </td>
            <td> My </td>
            <td> Friend </td>
        </tr>
        <tr>
            <td> This </td>
            <td> Is </td>
            <td> a </td>
            <td> Test </td>
        </tr>
    </table>
</div>
